<!-- this page is to satisfy the requirements of the assignment, which will be displayed after the user registers with a new accound-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/functions.js"></script>
</head>
<body>
    <h1>Registration Successful</h1>
    <p>Your account has been created successfully.</p>
    <a href="/">Go back to the Home Page</a>
</body>
</html>
