<!-- this file is extra, delete it before submitting farnaz-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/style.css">-->
<!--    <script src="../static/functions.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--    <header>-->
<!--        <h1>Login to Game Platform</h1>-->
<!--    </header>-->

<!--    <form id="loginform" action="/login" method="post">-->
<!--            <label for="username">Username:</label>-->
<!--            <input type="text" id="username" name="username" required>-->

<!--            <label for="password">Password:</label>-->
<!--            <input type="password" id="password" name="password" required>-->

<!--        <button type="submit">Login</button>-->
<!--    </form>-->

<!--    {% if error %}-->
<!--        <p style="color: red;">{{ error }}</p>-->
<!--    {% endif %}-->

<!--    <p>Don't have an account? <a href="/Register">Register here</a>.</p>-->
<!--</body>-->
<!--</html>-->
