<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/details.css">

</head>
<body>


<table>
  <tr>
    <th>Title</th>
    <td>{{details[0]}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{details[1]}}</td>
  </tr>
  <tr>
    <th>Category</th>
    <td>{{details[2]}}</td>
  </tr>
  <tr>
    <th>Contact Full Name</th>
    <td>{{details[3]}}</td>
  </tr>
  <tr>
    <th>Contact Email</th>
    <td>{{details[4]}}</td>
  </tr>
  <tr>
    <th>Contact Telephone Number</th>
    <td>{{details[5]}}</td>
  </tr>
</table>



</body>
</html>