
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="static/register.css">
    <script src="static/functions.js"></script>

</head>
<body>
    <form name="register_form" action="{{ url_for('register_page') }}" method="post" onsubmit="return validate_register_form()">
        <div>
            <label>Username:</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>Password:</label>
            <input type="password" name="password">
        </div>

        <div>
            <label>Full name:</label>
            <input type="text" name="full_name">
        </div>

        <div>
            <label>Email:</label>
            <input type="email" name="email">
        </div>

        <div>
            <label>Phone number:</label>
            <input type="text" name="phone_number">
        </div>

        <button type="submit">Register</button>

        <p id="error_message">{{msg}}</p>
    </form>

</body>
</html>