<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<h1>Welcome!</h1>
<div>
    {% if "username" in session %}
    <p><a href="/showarticles">Articles</a> | <a href="/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
    {% endif %}
</div>
<br/>

<section>
    <header>{% block header %} {% endblock %}</header>
    {% block content %} {% endblock %}
</section>

</body>
</html>